
        .nav-list{
            list-style:none;
           display:flex;
            justify-content:space-around;
            margin:10px 0px;
           width:85%;
                }

                .parent{
                    display:flex;
                    justify-content:center;
                }

header{
    display:flex;
    width:100%;
    gap:50%;
     border-bottom:2px inset;
}


.header{
    width:30%;
    list-style:none;
    display:flex;
    justify-content:space-evenly;
    margin:10px 0px;
  
}

.home-img{
    background-color:white;
    display:flex
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
}

.feature-box {
  text-align: center;
  width: 220px;
}



.feature-box h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.feature-box p {
  font-size: 14px;
  color: #777;
}

.divider {
  width: 1px;
  height: 80px;
  background: #ddd;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #333;
}

/* Section Titles */
section h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 26px;
}

section p {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}


.product-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 25px;
    padding-bottom: 40px;
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h4 {
    margin: 10px 0 5px 0;
    font-size: 16px;
}


.blog-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
    padding-bottom: 60px;
}

.blog-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.blog-card img {
    width: 100%;
}

.blog-card h4 {
    padding: 15px;
    font-size: 17px;
}

