.btn{
    display:flex;
    align-items:end;
    gap:25px;
     border-radius: 20px;
}
.parent1{
    display:flex;
    justify-content:space-around;
    gap:150px;
    align-items:start;
}
.parent{
    display:flex;
    background-color:black;
    color:white;
    padding:20px;
    border-radius: 20px;
    justify-content:space-around;
    align-items:center;
}

button:hover{
    background-color:grey;
    color:black;
    border-radius: 100px;
}

.child:hover{
    background-color:orange;
    text-decoration: solid;
    border-radius:100px;
    padding:5px 5px;

}

@media(min-width:480px) and (max-width:768px){
    .parent{
        visibility:hidden
    }
}

